* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(248, 248, 248);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}
